@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --light: #f7f7f7;
  --dark: #292b2c;
  --gray:#404446;
}


* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
}

.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}